<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
        <add name="LeftConn"  connectionString="Data Source=kstict0db013vs2\kstict0db013vs2;Initial Catalog=CXLPROD;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.EntityClient"/>
        <add name="RightConn" connectionString="Data Source=kstict0db017vs2\kstict0db017vs2;Initial Catalog=CXLPROD_SNAPSHOT;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.EntityClient"/>
    </connectionStrings>
    <appSettings>
        <add key="LeftQuery"  value="select * from kst.get_grid_balance('2014-07-03')"/>
        <add key="RightQuery" value="select * from kst.get_grid_balance('2014-07-03')"/>
    </appSettings>
</configuration>